@import '../../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-angular-pivotview/styles/material.css';


.step-wizard li {
    display: inline-block;
}

.step-container {
    // background: linear-gradient(-90deg, rgb(128, 122, 122), rgb(0, 0, 0));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(126, 125, 125));
    margin-right: 10px;
    color: white;
    width: 60px;
    text-align: center;
    // shape-margin: 20px;
    // shape-outside: polygon(nonzero, 0px 0px, 90px 0px, 97px 15px, 97px 31px, 81px 42px, 0px 42px);
    clip-path: polygon(79% 0, 100% 50%, 79% 100%, 0 100%, 0 0);
}

.step-title {
    font-size: 12px;
    margin-bottom: 0px;
}

.step-number {
    font-weight: bold;
    font-size: 16px;
}


.step-container-active {
    // background: linear-gradient(-90deg, rgb(128, 122, 122), rgb(0, 0, 0));
    background: linear-gradient(to right, rgba(2, 0, 0, 0), rgb(7, 27, 117));
    margin-right: 10px;
    color: white;
    width: 60px;
    text-align: center;
    clip-path: polygon(79% 0, 100% 50%, 79% 100%, 0 100%, 0 0);
}



.step-wizard-circle li {
    display: inline-block;
}


.step-circle {
    width: 70px;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;


   & .step-line {
        background-color: rgb(126, 125, 125);
        height: 3px;
        width: 50px;
    }

    & .step-circle {
        background-color: rgb(126, 125, 125);
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
}

.step-circle-active {
    width: 70px;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;


   & .step-line {
        background-color: green;
        height: 3px;
        width: 50px;
    }

    & .step-circle {
        background-color: green;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
}


/* NUEVA IDEA*/
.fondo {
    background-color: white;
    width: 100%;
}

.line-horizontal {
    background-color: rgb(223, 217, 217);
    width: auto;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line-vertical {
    background-color: rgb(223, 217, 217);
    height: 30px;
    width: 1px;
    margin: auto;
    // margin-right: 30px;
    // margin-bottom: 10px;
    // margin-top: 10px;
}

.step-moderm {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.step-moderm li {
    display: inline-block;

}

.li-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .step-moderm-circle {
        border-color: rgb(223, 217, 217);
        border-style: solid;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        & p {
            display: flex;
            align-items: center;
            margin: 0;
            color: rgb(179, 174, 174);
        }
    }

    .li-text {
        margin-left: 20px;
        // margin-right: 40px;
        margin-bottom: 0;
        display: flex;
        align-items : center;
        color: rgb(179, 174, 174);
    }
}

.li-container-active {
    display: flex;
    justify-content: center;
    align-items: center;

    .step-moderm-circle {
        border-color: green;
        border-style: solid;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        & p {
            display: flex;
            align-items: center;
            margin: 0;
            color: green;
        }
    }

    .li-text {
        margin-left: 20px;
        // margin-right: 40px;
        margin-bottom: 0;
        display: flex;
        align-items : center;
        color: black;
        font-weight: bold;
    }
}


/* solucion a una pivot */
.caja__listaCampos {
    background-color: white;
    width: 350px;
    height: 515px;
    margin: 0;
    padding: 0;
    border: 2px solid #dbd7d7;
    border-radius: 20px;
}

.caja__listaCampos__encabezado{
    background-color:  #f5f5f5;
    height: 30px;
    width: 346px;
    margin: 0;
    padding: 0;
    // border: 2px solid black;
    border-radius: 20px 20px 0px 0px;

    & p {
        margin: 0;
        padding-left: 15px;
        font-size: 17px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgba(0, 0, 0, 0.54);
    }
}

.caja__listaCampos__cuerpo {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 480px;
    border-radius: 0 0 4% 4%;
    overflow: auto;
}

.listaCampos {
    list-style: none;
    padding: 0;
}

.fila__listaCampos {
    margin: 0;
    padding: 0;
    height: 35px;
    display: flex;
    align-items: center;


    & fa-icon {
        margin: 0;
        padding: 0;
        margin-left: 15px;
        margin-right: 5px;
    }

    & mat-checkbox {
        margin: 0;
        padding: 0;
        padding-left: 10px;

        & > label {
            margin-bottom: 0 !important;
            align-items: center !important;
        }
    }

    &:hover{
        background-color: #f5f5f5;
    }


}




.caja__generica {
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    border: 2px solid #dbd7d7;;
    border-radius: 20px;
}

.caja__generica__encabezado {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 30px;
    border-radius: 20px 20px 0 0;
    & p {
        margin: 0;
        margin-left: 15px;
        font-size: 17px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgba(0, 0, 0, 0.54);

    }
}

.caja__generica__cuerpo {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 220px;
    border-radius: 0 0 20px 20px;
    overflow: auto;
}

.generica {
    list-style: none;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 85%;
}

.fila {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 35px;
    width: 98%;
    border-bottom: 2px solid #dbd7d7;


    & p {
        margin: 0;
        padding: 0;
        margin-left: 10px;
    }

    & fa-icon {
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }

    &:hover {
        background-color: #f5f5f5;
        cursor: move;
    }
}
.cambioColor {
    color: rgba(173, 166, 166, 0.719);
}

.remHov:hover {
    color: rgba(139, 136, 136, 0.719);
}


.temporal {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    height: 530px;
}



.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;

}

.contenedor::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
    display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
}

// #texto {
//     margin: 0;
//     padding: 0;
//     background-color: red;
//     transition: width linear 3s;
// }
// .mov {
//     width: 250px !important;
// }


@mixin card($color) {
    width: 300px;
    height: 150px;
    background-color: $color;
    color: white;
    box-shadow: 4px 4px rgb(126, 125, 125);
    border-radius: 15px;
    text-align: center;
    line-height:150px;
    cursor: pointer;

    & > h2 {
        display: inline-block; 
        vertical-align: middle;
    }

    &:hover {
        h2 {
            text-decoration: underline;
        }

        background-color: darken($color, 5);
    }
}

.card-orange {
   @include card(orange);
}

.card-redOrange {
    @include card(orangered);
}

.card-cornFlowerBlue {
    @include card(cornflowerblue);
}