@import '../../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-angular-pivotview/styles/material.css';


@mixin card($color) {
    width: 300px;
    height: 150px;
    background-color: $color;
    color: white;
    box-shadow: 4px 4px rgb(126, 125, 125);
    border-radius: 15px;
    text-align: center;
    line-height:150px;
    cursor: pointer;

    & > h2 {
        display: inline-block; 
        vertical-align: middle;
    }

    &:hover {
        h2 {
            text-decoration: underline;
        }

        background-color: darken($color, 5);
    }
}

.card-orange {
   @include card(orange);
}

.card-redOrange {
    @include card(orangered);
}

.card-cornFlowerBlue {
    @include card(cornflowerblue);
}